/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600;700&display=swap');


:root{
    --c-primary: #292D32;
    --c-secondary: #FFAB29;
    --c-tertiary: #000917;
    --c-medium: #2C407B;
    --c-light: #fff;
    --c-tint: #cacaca;

}

html,
body {
    height: 100%;
}

*{
    margin: 0;
    font-family: 'Jura', sans-serif;
}