.header{
    background-color: var(--c-light);

    color: var(--c-primary);
    margin: 0;
    .lost-title{
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 15px;
      
        h2{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
             margin: auto;
        }
    }
   
}

.categories{


    ul{ 
        padding: 10px;
        li{
          margin: 2%;
          list-style: none;
          p{
              font-family: 'Jura';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              mat-icon{
                  margin: 5%;
              }
          }
        }
      }
  }