<header class=" header">
    
    <div class="lost-title">
        <i-feather name="chevron-left" routerLink="/find"></i-feather>
        <h2>Categorias</h2>
    </div>
  
</header>

<div class="categories">
    <ul>
        <li *ngFor="let item of list">
            <p><mat-icon svgIcon="{{item.icon}}"></mat-icon>{{item.title}}</p>
        </li>
    </ul>
</div>