<header class=" header">
    <div class="lost-title">
        <h2>Objeto Perdido</h2>
    </div>
    
</header>
<div class="form-group">
    <input type="text" class="form-control shadow-none" placeholder="O que você perdeu?"/>
    <input type="text" class="form-control shadow-none" placeholder="Sabe onde perdeu?">
    <input type="text" class="form-control shadow-none" placeholder="Sabe quando perdeu?">
    
    <label class="btn-label">Tem imagens do objeto?</label>
    <button class="btn btn-form shadow-none">
        
        <mat-icon svgIcon="camera" class="mat-icon-color"></mat-icon>
        <h4>Fazer Upload</h4>
    </button>
    <textarea class="form-control shadow-none" rows="5" cols="50" style="height: 90px;" placeholder="Descreva o ocorrido"></textarea>
    <label class="toggle">
        <span class="onoff">Oferece recompensa?</span>
        <input type="checkbox" (click)="onToggle()" class="custom-control-input" id="customSwitches">
        <span class="slider round"></span>
        
    </label>
    <input type="text" *ngIf="toggle" class="form-control shadow-none" style="transition: all ease-in-out .3s;" placeholder="Qual o valor da recompensa?">
</div>

<div class="container">
    <button class="btn shadow-none">
        <h4>Publicar objeto perdido</h4>
    </button>
</div>