.header{
    background-color: var(--c-tertiary);

    color: var(--c-light);
    margin: 0;
    .lost-title{
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 15px;
      
        h2{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
             margin: auto;
        }
    }
   
}

.form-group{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    width: 90%;
    margin: 0 auto;
    padding: 0;

    .form-control{
        
        margin: 2.5% 0;
        width: 100%;
        height: 56px;
        
        border-radius: 10px;
        
       
    }
    
    .form-control:focus{
        outline: none;  
        border-color: var(--c-tertiary);
    }
    .toggle {
        position: relative;
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: 3%;
        justify-content: space-between;
        align-items: center;
      }
      
      .toggle input {
        position: absolute;
     
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .toggle .onoff {
        color: var(--c-tertiary);
        font-size: 20px;
        text-align: center;
        display: block;
        
        font-family: 'Jura';
      }
      
      .slider {
        position: relative;
        display: block;
        
        cursor: pointer;
        background-color: var(--c-light);
        border: solid 1px;
       
        transition: 0.4s;
        width: 35px;
        height: 16px;
      }
      
      .slider:before {
        content: "";
        
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: var(--c-primary);
        transition: 0.4s;
        top: 2px;
        left: 2px;
      }
      
      input:checked + .slider {
        background-color: var(--c-primary);
        box-shadow: 0 0 12px var(--c-primary);
      }
      
      input:checked + .slider:before {
        transform: translateX(18px);
        background-color: var(--c-light);
      }
      
      .slider.round {
        border-radius: 20px;
      }
      .slider.round::before {
        border-radius: 20px;
      }
      
}

.btn{

  background-color: var(--c-tertiary);
  font-size: 14px;
  border-radius: 5px;
  height: 57px;

  width: 100%;
  margin:  5% 0;
  color: var(--c-light);

  border: solid 1px;
  border-color: var(--c-tertiary);
  border-radius: 10px;
  outline: none;
  transition: all 0.25s ease;
  .mat-icon-color {
    margin: 0 5%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(253deg) brightness(102%) contrast(103%);
    

  }
  h4{
      margin: 0;

      font-family: 'Jura';
      font-size: 20px;

  }
      

}

.btn-form{
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin-top: 1%;
}

.btn-label{
  margin: 2% 0 0 1%;
}
