div{
    background-color: var(--c-light);
}

.positioning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}
.nav-link.active {
    border: none;
    mat-icon{
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(70deg) brightness(90%) contrast(104%);
    }
    
    
}


.nav-link{
    color: rgba(0, 0, 0, 0.3);
    border: none;
    transition: all ease-in-out .25s;
    .mat-icon-color{
        filter: invert(98%) sepia(96%) saturate(82%) hue-rotate(255deg) brightness(119%) contrast(79%);
    }
}

.nav-link:hover,.nav-link:active, .nav-link:focus{
    border: none;
    .mat-icon-color{
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(70deg) brightness(90%) contrast(104%);
    }
    
}


