<div class="fixed-bottom ">
    <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs" >
      <li [ngbNavItem]="link.path" *ngFor="let link of links">
        
        <a ngbNavLink routerLink="{{link.path}}" routerLinkActive="{{link.path}}" fragment="{{link.path}}" class="positioning">
          <mat-icon svgIcon="{{link.icon}}" class="mat-icon-color"></mat-icon>
          {{ link.label }}
        </a>
      </li>
    </ul>
  </div>
