<header class=" header">
    <div class="profile">
        <ngx-avatar src="assets/profile-pic.svg"></ngx-avatar>
        <h2>Maurício Wesley </h2>
    </div>
    
</header>

<div class="menu">
    <ul>
        <li *ngFor="let item of list">
            <p><mat-icon svgIcon="{{item.icon}}"></mat-icon>
                {{item.title}}</p>
        </li>
    </ul>
</div>
