.header{
    background-color: var(--c-tertiary);

    color: var(--c-light);
    margin: 0;
    .profile{
        display: flex;
        flex-direction: row;

        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 5% 0;
        ngx-avatar{
            margin: 1.5% 5%;
        }
        h2{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            margin: 0;
        }
    }
   
}

.menu{


  ul{ 
      padding: 10px;
      li{
        margin: 10% 0 ;
        list-style: none;
        p{
            font-family: 'Jura';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            mat-icon{
                margin: 5%;
            }
        }
      }
    }
}