.img-content{
    width: 100%;
    height: 315px;

    background-color: var(--c-tint);
}
.item-content{
    .item-tag{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 43px;
        background-color: var(--c-tertiary);
        color: var(--c-light);
    
        font-family: 'Jura';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        p{
            margin: 0;
        }
        
    }
    .content{
        .title{
            margin: 5%;
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
        }
        .info{
            margin: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
            h4{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
            }
        }
        .description{
            margin: 5%;
            p{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
            h4{
                font-family: 'Jura';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
            }
        }
    
    }
}

footer{
    margin-bottom: 10%;
    .btn{

        background-color: var(--c-tertiary);
        font-size: 14px;
        border-radius: 5px;
        height: 57px;
        position: absolute;
        bottom: 0;
        width: 92.5%;
        margin:  10% 0;
        color: var(--c-light);
        z-index: 10;
      
        border: solid 1px;
        border-color: var(--c-tertiary);
        border-radius: 10px;
        outline: none;
        transition: all 0.25s ease;
        h4{
            margin: 0;
      
            font-family: 'Jura';
            font-size: 20px;
      
        }
            
      
      }
}