<div class="img-content">
    <ngb-carousel  [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide">
          </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="item-content">
    <div class="item-tag">
        <p>PERDIDO</p>
    </div>

    <div class="content">
        <div class="title">Chave com pen-drive</div>
        <div class="info">
            <div class="date">
                <p>Data do perdido</p>
                <h4>00/00/0000</h4>
            </div>
            <div class="locale">
                <p>Local do perdido</p>
                <h4>Nome do local</h4>
            </div>
        </div>
        <div class="description">
            <p>Descrição do perdido</p>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ante sed felis vestibulum lacinia. Aenean pharetra est massa, non lobortis erat blandit ac. Nullam ullamcorper ac tellus et luctus. Phasellus congue metus aliquet volutpat hendrerit. Curabitur vel cursus est, eget rhoncus ex. Sed nec tellus sed orci feugiat auctor eu eget dolor.
            </h4>
        </div>
        
    </div>
</div>

<footer class="fixed-bottom">
    <div class="container">
        <button class="btn">
            <h4>Entrar em Contato</h4>
        </button>
    </div>
</footer>

