.container{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--c-tint);

    .brand{
        background-color: transparent;
        font-family: 'Jura';
        font-style: normal;
        font-weight: 700;
        font-size: 24.96px;

        width: 180px;

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 10% 0 0 0;
        
        height: 37px;
        color: var(--c-tertiary);
        border-radius: 10px;
        border: solid 1px;


    }
    .btn{
        font-family: 'Jura';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;

        padding: 3px 12px;
    }
    .btn-1{
        background-color: var(--c-light);
        margin: 10% 0 0 0;
        border-radius: 10px 0 0 10px;
        height: 44px;

        transition: all ease-in-out .3s;
    }
    .btn-1:hover, .btn-1:active {
        background-color: var(--c-tertiary);
        color: var(--c-light);
        outline: none;
        
       
    }

    .btn-2{
        background-color: var(--c-light);
        margin: 10% 0 0 0;
        height: 44px;
        border-radius:  0 10px 10px 0;
        transition: all ease-in-out .3s;
    }
    .btn-2:hover, .btn-2:active {
        background-color: var(--c-medium);
        color: var(--c-light);
        outline: none;
        
     
    }

    .items-categories{
        position:absolute;
        bottom:6%;
        left: 2.5%;
        width: 97.5%;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin:  0;
            padding-left: 30%;
            
            overflow: scroll;
            li{
                list-style: none;
                text-align: center;

                margin: 5%;
                

                
                    
                .cardbox{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--c-light);
                    width:  67px;
                    height: 67px; 
                    
                    border-radius: 10px;

                    box-shadow: 0px 5px 14px -8px rgba(0, 0, 0, 0.5);

                    mat-icon{
                        transform: scale(1.5);
                    }
                }
                .cardbox:active, .cardbox:hover{
                    background-color: var(--c-tertiary);
                    color: var(--c-light);
                    .mat-icon-color {

                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(253deg) brightness(102%) contrast(103%);
                        fill: white;
                      }

                }

                .floating-text{
                    font-family: 'Jura';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                }

            }
            
            &::-webkit-scrollbar{
                display: none;
            }
        }
        
    }
}