<div class="container">
    <div class="brand">
        DETETIVE
    </div>
    <div class="buttons">
        <button class="btn btn-1 shadow-none">ACHADO</button>
        <button class="btn btn-2 shadow-none">PERDIDOS</button>
    </div>

    <div class="items-categories">
        <ul>
            <li *ngFor="let l of list">
                <div class="cardbox">
                    <mat-icon svgIcon="{{l.icon}}" class="mat-icon-color"></mat-icon>
                </div>
                <div class="floating-text">
                    <p>{{l.categorie}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
