.search-bar{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 0;

    input{
        
        margin: 2%;
        width: 100%;
        height: 56px;
        border: none;
        border-radius: 10px;
        
       
    }
    
    input::focus{
        outline: none;  
    }
    
    
}
.filter{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0 4%;
    overflow: scroll;
    flex-wrap: nowrap;
    width: 96%;
    

    padding-left: 55%;

    
    
    .select-container{
        margin: 2%;
        .filter1{
            background-color: var(--c-light);

            width: 180px;
            height: 49px;
            margin: 2% 0;
            padding: 5%;
            border-radius: 10px;
            border: none;
            outline: none;
            box-shadow: 0px 5px 14px -8px rgba(0, 0, 0, 0.5);
        
        }
        .filter2{
            background-color: var(--c-light);

            width: 137px;
            height: 49px;
            margin: 2.5% 5%;
            padding: 5%;
            border-radius: 10px;
            border: none;
            outline: none;
            box-shadow: 0px 5px 14px -8px rgba(0, 0, 0, 0.5);
        }
    }

    &::-webkit-scrollbar{
        display: none
    }
    scroll-behavior: smooth;
}
@media (min-width:610px) {
    .filter{
        padding-left: 0;
    }
}

ul{
    margin: 2% 5%;
    padding: 1%;
    li{
        display: flex;
        flex-direction: row;
    
        justify-content: flex-start;
        align-items: center;
        .item-img{
    
            content: '';
            width: 75px;
            height: 75px;
            border-radius: 10px;
            margin: 2%;
        
            
        }
    
        .card-content{
            display: flex;
            flex-direction: column;
    
            justify-content: center;
            align-items: flex-start;
    
            h4{
                margin: 2px;
                font-family: 'Jura';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
            }
            p{
                margin: 2px;
                font-family: 'Jura';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}


