<div class="search-bar">
    <i-feather name="search" aria-hidden="true"></i-feather>
    <input class="form-control shadow-none ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
</div>
<div class="filter">
    <div class="select-container">
        <select class="filter1">
            <option *ngFor="let v of filters" [value]="v" placelholder="Filtro">{{v.filter}}</option>
        </select>
    </div>
    <div class="select-container">
        <select class="filter2">
            <option *ngFor="let v of filters" [value]="v" placelholder="Filtro">{{v.filter}}</option>
        </select>
    </div>
    
    <div class="select-container">
        <select class="filter2">
            <option *ngFor="let v of filters" [value]="v" placelholder="Filtro">{{v.filter}}</option>
        </select>
    </div>
   

</div>
<div class="items">
    <ul>
        <li *ngFor="let i of items" routerLink="/{{i.path}}" >
            <div class="item-img" style="background-color: var({{i.color}});">
                
            </div>
            <div class="card-content">
                <h4>{{i.name}}</h4>
                <p>{{i.date}}</p>
                <p>{{i.locale}}</p>
            </div>
        </li>
    </ul>
</div>