.search-bar{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 0;

    input{
        
        margin: 2%;
        width: 100%;
        height: 56px;
        border: none;
        border-radius: 10px;
        
       
    }
    
    input::focus{
        outline: none;  
    }
    
    
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    color: var(--c-light);
    background-color: var(--c-secondary);

    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    h4{
        font-family: 'Jura';
        font-style: normal;
        
        font-size: 1rem;
        line-height: 26px;
        letter-spacing: 0.315333px;

        width: 50%;
    }
}

.card-categorie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    color: var(--c-light);
    background-color: var(--c-tertiary);

    text-justify: start;

    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    h4{
        font-family: 'Jura';
        font-style: normal;
        
        font-size: 1rem;
        
        margin: 5% 0; 
        align-self: flex-start;   

    }
}