<div class="search-bar">
    <i-feather name="search" aria-hidden="true"></i-feather>
    <input class="form-control shadow-none  ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
</div>
<div class="card" routerLink="/filter">
    <h4>Busque por perdidos com recompensas</h4>
    <img src="assets/medal-star.svg" width="40%">
</div>
<div class="card-categorie" routerLink="/categories">
    <h4>Navegue por categorias</h4>    
</div>
